@{
    ViewBag.Title = "Pentru suportul aplicatiei, contactati Otilia Giura";
}
<h2>@ViewBag.Title.</h2>



<div>
    <ul class="list-unstyled">
        <li>
            <a href="mailto:giura_otilia@yahoo.com">
                <span class="glyphicon glyphicon-envelope">giura_otilia@yahoo.com</span>
            </a>
        </li>
        <li>
            <a href="0723197898">
                <span class="glyphicon glyphicon-earphone">0723197898</span>
            </a>
        </li>
    </ul>
</div>