@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/CustomAuto.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-3">



    </div>
    <div class="col-md-3 hidden-sm hidden-xs">
        <img src="~/Content/images/car.png" alt="Logo" style="padding-left:60px;" />

    </div>
    <div class="col-md-3 hidden-md hidden-lg">
        <img src="~/Content/images/car.png" alt="Logo" />

    </div>

    <div class="col-md-3 ">
      
    </div>
</div>
<div class="col-md-12 text-center">
    <button type="submit" class="btn btn-primary">
        <a href="Wizard/Index/" style="color:white">Intra in Aplicatie</a>
    </button>
  
</div>
<div style="padding-top:8em;">
    <div class="row band" style="background-color:azure">
        <div class="col-md-1">



        </div>
        <div class="col-md-10">
            <h1 style="padding-left:20px;font-family:'Baskerville Old Face'">
                <strong>
                    Când sunt probleme, sunt şi soluţii, nu-ţi pierde timpul purtând discuţii!
                </strong>
            </h1>

        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
